Repository HENNGE/aiodynamo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --filter-files

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  pass_filenames: false

handle ResourceInUseException
  src/aiodynamo/errors.py
Due: black, isort, mypy

Add __eq__ and __repr__ to aiodynamo.expressions.F
  src/aiodynamo/expressions.py
  tests/unit/test_expressions.py
Due: black, isort, mypy

21.12
  docs/changelog.rst
  pyproject.toml
Due: none

Update changelog
  docs/changelog.rst
Due: none

http refactor
  docs/advanced.rst
  docs/concepts.rst
  pyproject.toml
  pytest.ini
  src/aiodynamo/_compat.py
  src/aiodynamo/_mypy_hacks.py
  src/aiodynamo/client.py
  src/aiodynamo/credentials.py
  src/aiodynamo/http/aiohttp.py
  src/aiodynamo/http/base.py
  src/aiodynamo/http/httpx.py
  src/aiodynamo/http/types.py
  src/aiodynamo/models.py
  src/aiodynamo/types.py
  src/aiodynamo/utils.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_client.py
  tests/unit/test_credentials.py
  tests/unit/test_errors.py
Due: black, isort, mypy

[BENCH_]RANGE_KEY_NAME was not used
  benchmarks/query/README.md
  benchmarks/query/fill_db.py
  benchmarks/query/utils.py
Due: black, mypy

Apply suggestions from code review
  docs/concepts.rst
  src/aiodynamo/http/httpx.py
Due: black, isort, mypy

Update changelog and docs
  docs/advanced.rst
  docs/changelog.rst
  docs/usage.rst
  src/aiodynamo/models.py
Due: black, isort, mypy

Support session tokens in FileCredentials
  docs/changelog.rst
  src/aiodynamo/credentials.py
  tests/unit/test_credentials.py
Due: black, isort, mypy

22.2
  docs/changelog.rst
  pyproject.toml
Due: none

Fix new-http error handling
  src/aiodynamo/client.py
  tests/unit/test_client.py
Due: black, isort, mypy

22.2.1
  docs/changelog.rst
  pyproject.toml
Due: none

Fix DynamoDB 503 not being retried
  src/aiodynamo/errors.py
  tests/unit/test_errors.py
Due: black, isort, mypy

Fix mypy type hints
  mypy.ini
  pyproject.toml
  src/aiodynamo/_mypy_hacks.py
  src/aiodynamo/http/types.py
  src/aiodynamo/types.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_client.py
  tests/unit/test_client.py
  tests/unit/test_credentials.py
  tests/unit/test_errors.py
  tests/unit/test_expressions.py
  tests/unit/test_utils.py
Due: black, isort, mypy

22.2.2
  docs/changelog.rst
  pyproject.toml
Due: none

Raise asyncio.TimeoutError on httpx.TimeoutException
  src/aiodynamo/http/httpx.py
Due: black, isort, mypy

Move CI from CircleCI to Github Actions
  .circleci/config.yml
  .github/workflows/workflow.yml
Due: none

upgrade black
  benchmarks/deserialize/utils.py
  benchmarks/query/bench_botocore.py
  benchmarks/query/fill_db.py
  pyproject.toml
  src/aiodynamo/models.py
  tests/integration/test_client.py
Due: black, isort, mypy

re-run isort
  src/aiodynamo/http/httpx.py
Due: black, isort, mypy

22.4
  docs/changelog.rst
  pyproject.toml
Due: none

Removed unsupported operations from RangeKey
  src/aiodynamo/expressions.py
  tests/integration/test_client.py
Due: black, isort, mypy

22.6
  docs/changelog.rst
  docs/usage.rst
  pyproject.toml
Due: none

Add kubernetes credentials to the list of possible credentials
  pyproject.toml
  src/aiodynamo/credentials.py
  tests/unit/test_credentials.py
  tests/unit/test_utils.py
Due: black, isort, mypy

Add dynalite service on pytest
  .github/workflows/workflow.yml
Due: none

Set env vars for pytest
  .github/workflows/workflow.yml
Due: none

Add pytest with dynamodb-local
  .github/workflows/workflow.yml
Due: none

Update dynalite URL
  .github/workflows/workflow.yml
Due: none

Add localstack pytest step on CI workflow
  .github/workflows/workflow.yml
Due: none

Add transact write items method to client
  src/aiodynamo/client.py
  src/aiodynamo/errors.py
  src/aiodynamo/operations.py
  tests/integration/conftest.py
  tests/integration/test_client.py
Due: black, isort, mypy

Update dynalite image
  .github/workflows/workflow.yml
Due: none

Add docs to transact write items method
  docs/usage.rst
Due: none

fix rst
  docs/usage.rst
Due: none

Add transact get items method to client
  src/aiodynamo/client.py
  src/aiodynamo/operations.py
  tests/integration/test_client.py
Due: black, isort, mypy

Add docs to transact get items method
  docs/usage.rst
Due: none

22.8
  docs/changelog.rst
  pyproject.toml
Due: none

fix: update mypy and remove previous hack with protocol.
  pyproject.toml
  src/aiodynamo/_mypy_hacks.py
  src/aiodynamo/http/types.py
  src/aiodynamo/types.py
Due: black, isort, mypy

fix: update mypy and remove previous hack with protocol, update tests.
  src/aiodynamo/client.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_client.py
  tests/unit/test_client.py
  tests/unit/test_errors.py
Due: black, isort, mypy

fix: change back to Callable.
  src/aiodynamo/_mypy_hacks.py
  src/aiodynamo/http/types.py
  src/aiodynamo/types.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/unit/test_client.py
  tests/unit/test_errors.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: ^(src/.*\.py|tests/.*\.py) and \.py$
  mypy: any of: \.py$
