Repository HENNGE/aiodynamo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types: [python]
    -   id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        require_serial: true
        args: ['--filter-files']
        files: "^(src/.*\\.py|tests/.*\\.py)"
    -   id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        pass_filenames: false

fix: mypy function does not return a value.
  src/aiodynamo/client.py
  tests/integration/conftest.py
  tests/integration/test_client.py
  tests/unit/test_client.py
  tests/unit/test_errors.py
Due: black, isort, mypy

fix: more cleanup.
  src/aiodynamo/http/types.py
  tests/integration/conftest.py
  tests/unit/test_client.py
Due: black, isort, mypy

removal: Protocal from _compat.
  src/aiodynamo/_compat.py
Due: black, isort, mypy

removal: Protocal from conftest TableFactory.
  tests/integration/conftest.py
Due: black, isort, mypy

removal: Apply typing.Callable to TableFactory.
  tests/integration/conftest.py
  tests/integration/test_client.py
Due: black, isort, mypy

Support typed exceptions with dynamodb-local.
  src/aiodynamo/errors.py
  tests/unit/test_errors.py
Due: black, isort, mypy

22.9
  docs/changelog.rst
  pyproject.toml
Due: none

Add support for AWS Web Identity Token File authentication
  pyproject.toml
  src/aiodynamo/credentials.py
Due: black, isort, mypy

run ci on prs
  .github/workflows/workflow.yml
Due: none

fix black formatting
  tests/unit/test_errors.py
Due: black, isort, mypy

add AWS_PROFILE env var to credentials chain
  src/aiodynamo/credentials.py
  tests/unit/test_credentials.py
Due: black, isort, mypy

22.12
  docs/changelog.rst
  pyproject.toml
Due: none

Add debug helper to Condition and UpdateExpression
  .pre-commit-config.yaml
  docs/usage.rst
  src/aiodynamo/expressions.py
  src/aiodynamo/utils.py
  tests/unit/test_expressions.py
Due: black, isort, mypy

Add ScyllaDB Alternator to test suite
  .github/workflows/workflow.yml
  docs/concepts.rst
  docs/development.rst
  src/aiodynamo/client.py
  src/aiodynamo/models.py
  tests/integration/conftest.py
  tests/integration/test_client.py
Due: black, isort, mypy

Add docker-compose for testing
  .github/workflows/workflow.yml
  docker-compose/dynalite/docker-compose.yml
  docker-compose/dynamodb-local/docker-compose.yml
  docker-compose/localstack/docker-compose.yml
  docker-compose/scylla/docker-compose.yml
Due: none

Test docker compose
  .github/workflows/workflow.yml
Due: none

Test compose vs service
  .github/workflows/workflow.yml
Due: none

Test services
  .github/workflows/workflow.yml
Due: none

Use docker compose instead of gha services
  .github/workflows/workflow.yml
Due: none

Update actions versions
  .github/workflows/workflow.yml
Due: none

Move docker files, fix test
  .github/docker-compose/docker-compose.dynalite.yml
  .github/docker-compose/docker-compose.dynamodb-local.yml
  .github/docker-compose/docker-compose.localstack.yml
  .github/docker-compose/docker-compose.scylla.yml
  .github/workflows/workflow.yml
  tests/integration/test_client.py
Due: black, isort, mypy

more advanced github matrices
  .github/workflows/workflow.yml
Due: none

Update maximum operations per transaction to 100
  src/aiodynamo/client.py
  tests/integration/test_client.py
Due: black, isort, mypy

Trigger CI
  readme.md
Due: none

Set timeout-minutes of 3 min to all jobs
  .github/workflows/workflow.yml
Due: none

Set timeout-minutes to 10
  .github/workflows/workflow.yml
Due: none

Set urllib3 version
  pyproject.toml
Due: none

Upgrade dependencies, drop 3.7 support, add 3.11 support
  .github/workflows/workflow.yml
  docs/conf.py
  pyproject.toml
Due: black, mypy

Properly support creating pay-per-request tables
  src/aiodynamo/models.py
Due: black, isort, mypy

Mark EncodedGlobalSecondaryIndex as non-total
  src/aiodynamo/types.py
Due: black, isort, mypy

upgrade readthedocs config
  .readthedocs.yaml
  .readthedocs.yml
  pyproject.toml
Due: none

Update src/aiodynamo/models.py
  src/aiodynamo/models.py
Due: black, isort, mypy

Formatting
  src/aiodynamo/models.py
Due: black, isort, mypy

Satisfy MyPy(?)
  src/aiodynamo/models.py
  src/aiodynamo/types.py
Due: black, isort, mypy

fix mypy
  pyproject.toml
  src/aiodynamo/models.py
Due: black, isort, mypy
