Repository HENNGE/aiodynamo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --filter-files

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  pass_filenames: false

Fix table section, add models to docs
  docs/usage.rst
  src/aiodynamo/client.py
Due: black, isort, mypy

Fix formatting
  src/aiodynamo/client.py
Due: black, isort, mypy

Add table class to docs
  docs/usage.rst
  src/aiodynamo/client.py
Due: black, isort, mypy

document client class, move some documentation around
  docs/usage.rst
Due: none

Add API to query/scan single DynamoDB pages
  src/aiodynamo/client.py
  src/aiodynamo/models.py
  tests/integration/test_client.py
Due: black, isort, mypy

document single page query and scan
  docs/usage.rst
Due: none

add test for scan single page
  tests/integration/test_client.py
Due: black, isort, mypy

Release 21.5
  docs/changelog.rst
  pyproject.toml
Due: none

Add support for BatchWriteItem and BatchGetItem
  docs/usage.rst
  src/aiodynamo/client.py
  src/aiodynamo/models.py
  tests/integration/test_client.py
Due: black, isort, mypy

21.6
  docs/changelog.rst
  pyproject.toml
Due: none

fix byte encoding for benchmark dummy data util
  benchmarks/deserialize/utils.py
Due: black, mypy

Update deserialize to use mapping
  src/aiodynamo/utils.py
Due: black, isort, mypy

fix mypy issues
  pyproject.toml
  src/aiodynamo/client.py
  src/aiodynamo/types.py
  src/aiodynamo/utils.py
Due: black, isort, mypy

21.7
  docs/changelog.rst
  pyproject.toml
Due: none

Use 3rd-party ddbcereal library for deserialize/serialize.
  benchmarks/deserialize/bench_aiodynamo.py
  benchmarks/deserialize/bench_ddbcereal.py
  pyproject.toml
  src/aiodynamo/client.py
  src/aiodynamo/expressions.py
  src/aiodynamo/utils.py
  tests/unit/test_utils.py
Due: black, isort, mypy

add .gitignore
  .gitignore
Due: none

instructions and script to create and fill the test table
  benchmarks/query/README.md
  benchmarks/query/fill_db.py
  benchmarks/query/utils.py
Due: black, mypy

allow localhost testing; fix aiodynamo test
  .gitignore
  benchmarks/query/bench_aiodynamo_aiohttp.py
  benchmarks/query/bench_boto3.py
Due: black, mypy

fix aiodynamo-httpx
  benchmarks/query/bench_aiodynamo_httpx.py
Due: black, mypy

fix aiobotocore benchmark
  benchmarks/query/bench_aiobotocore.py
Due: black, mypy

allow localhost in the botocore benchmark
  benchmarks/query/bench_botocore.py
Due: black, mypy

allow more httpx to fix #80
  pyproject.toml
Due: none

release 21.8
  pyproject.toml
Due: none

use httpx content= parameter
  pyproject.toml
  src/aiodynamo/http/httpx.py
Due: black, isort, mypy

update changelog for 21.8
  docs/changelog.rst
Due: none

Work around mypy
  src/aiodynamo/client.py
Due: black, isort, mypy

Spin out counting with a limit into a different test
  tests/integration/test_client.py
Due: black, isort, mypy

Appease mypy more
  src/aiodynamo/client.py
Due: black, isort, mypy

Count limits
  docs/changelog.rst
  src/aiodynamo/client.py
  tests/integration/test_client.py
Due: black, isort, mypy

Restore variable name
  src/aiodynamo/client.py
Due: black, isort, mypy

Rework count_with_limit test
  tests/integration/test_client.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: ^(src/.*\.py|tests/.*\.py) and \.py$
  mypy: any of: \.py$
