Repository HENNGE/aiodynamo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  require_serial: true
  args:
  - --filter-files

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  pass_filenames: false

Restore variable name
  src/aiodynamo/client.py
Due: black, isort, mypy

Count limits
  docs/changelog.rst
  src/aiodynamo/client.py
  tests/integration/test_client.py
Due: black, isort, mypy

Appease mypy more
  src/aiodynamo/client.py
Due: black, isort, mypy

Spin out counting with a limit into a different test
  tests/integration/test_client.py
Due: black, isort, mypy

Update usage.rst
  docs/usage.rst
Due: none

Update changelog.rst
  docs/changelog.rst
Due: none

Add orjson support
  benchmarks/signing/bench_aiodynamo.py
  pyproject.toml
  src/aiodynamo/client.py
  src/aiodynamo/credentials.py
  src/aiodynamo/errors.py
  src/aiodynamo/http/aiohttp.py
  src/aiodynamo/http/base.py
  src/aiodynamo/http/httpx.py
  src/aiodynamo/serde.py
  src/aiodynamo/sign.py
Due: black, isort, mypy

Tweak README
  benchmarks/signing/bench_aiodynamo.py
  readme.md
Due: black, mypy

working mock client and test
  benchmarks/query/README.md
  benchmarks/query/bench_aiodynamo_mock.py
  benchmarks/query/fill_db.py
  src/aiodynamo/http/mock.py
Due: black, isort, mypy

release 21.9
  docs/changelog.rst
Due: none

don't use from typing import *
  src/aiodynamo/client.py
  src/aiodynamo/credentials.py
  src/aiodynamo/expressions.py
  src/aiodynamo/http/base.py
  src/aiodynamo/sign.py
Due: black, isort, mypy

add isort check to ci
  .circleci/config.yml
Due: none

21.9 was released
  pyproject.toml
Due: none

Correct "decorrelated" spelling
  src/aiodynamo/models.py
Due: black, isort, mypy

max_time_secs was unused :think:
  src/aiodynamo/models.py
Due: black, isort, mypy

Add support for pay_per_request billing mode during table creation
  docs/usage.rst
  src/aiodynamo/client.py
  src/aiodynamo/models.py
  src/aiodynamo/types.py
  tests/integration/conftest.py
  tests/integration/test_client.py
Due: black, isort, mypy

21.10 release
  docs/changelog.rst
  pyproject.toml
Due: none

Fix create_table with a global secondary index
  src/aiodynamo/models.py
  tests/integration/test_client.py
Due: black, isort, mypy

21.10.post0
  pyproject.toml
Due: none

Implement scan_count method
  docs/usage.rst
  src/aiodynamo/client.py
  tests/integration/test_client.py
Due: black, isort, mypy

Speedup tests, test Python 3.10
  .circleci/config.yml
  tests/integration/conftest.py
  tests/integration/test_client.py
Due: black, isort, mypy

Support consistent read
  src/aiodynamo/client.py
  src/aiodynamo/models.py
  tests/integration/test_client.py
Due: black, isort, mypy

Fix test type hints, ignore more things in git
  .gitignore
  tests/integration/test_client.py
Due: black, isort, mypy

add deploy yml
  .github/workflows/deploy.yml
  .gitignore
Due: none

add deploy yml
  .github/workflows/deploy.yml
Due: none

21.11
  docs/changelog.rst
  pyproject.toml
Due: none

make_deploy
  .github/workflows/deploy.yml
Due: none

make_deploy
  .github/workflows/deploy.yml
  pyproject.toml
Due: none

test deploy
  .circleci/config.yml
Due: none

change to circleci workflow
  .github/workflows/deploy.yml
  .gitignore
Due: none

reverse naming
  .circleci/config.yml
Due: none

handle ResourceInUseException
  src/aiodynamo/errors.py
Due: black, isort, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: ^(src/.*\.py|tests/.*\.py) and \.py$
  mypy: any of: \.py$
